*{
  background-color: rgb(206, 237, 227);
}
html{
  font-size: 16px;

}
.navbar{
  display: flex;
  justify-content: space-around;
  color: black;
  background-color: blue;
  height: 3rem;
  align-items: center;
  
  
}
.nav_main{
  display: flex;
  justify-content: center;
  background-color: rgb(105, 105, 179);
  border-radius: .2rems;
  
}
  
.nav_element{
  margin-left: .4rem;
  margin-right: .4rem;
  background-color: rgb(118, 118, 146);
}
.Hero-section{
  height: 30rem;
  background-color: aliceblue;
  width: 100%;
  display: flex;
}
.test_area{
  background-color: brown;
  height: 100%;
  width: 60%;
  margin-left: 0;
}
.image_area{
  background-color: rgb(212, 0, 255);
  height: 100%;
  width: 40%;
  margin-right: 0;
}
.skills{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.skill_element{
  margin: .5rem;
  width: 32%;
  border: 2px solid black;
  background-color: aqua;
  height: 20rem;
  border-radius: .4rem;
}
.footer{
  height: 20rem;
  background-color: bisque;
  border: 4px solid black;
  margin: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.a{
  height: 16rem;
  width: 100%;
  margin: 10px;
  color: aliceblue;
  border: 5px solid black;
}
#copyright{
  margin-bottom: 0px;
  height: 4rem;
  border: 4 solid white;
  margin: 2px;
  color: blue;
}