*{
  background-color: #f5f5f5;
}
html{
  font-size: 16px;

}
.navbar{
  display: flex;
  justify-content: space-around;
  color: #333333;
  background-color: #f5f5f5;
  height: 3rem;
  align-items: center;
  
  
}
.nav_main{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: .2rems;
  color: #333333;
  
}
  
.nav_element{
  margin-left: .4rem;
  margin-right: .4rem;
  background-color: rgb(118, 118, 146);
  background-color: #ffffff;
  color: #333333;
}
.Hero-section{
  height: 30rem;
  background-color: #e0e0e0;
  color: #333333;
  width: 100%;
  display: flex;
}
.test_area{
  background-color: #e0e0e0;
  height: 100%;
  width: 60%;
  margin-left: 0;
}
.image_area{
  background-color: #e0e0e0;
  height: 100%;
  width: 40%;
  margin-right: 0;
}
.skills{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.skill_element{
  margin: .5rem;
  width: 32%;
  border: 2px solid black;
  background-color: aqua;
  height: 20rem;
  border-radius: .4rem;
}
.footer{
  height: 20rem;
  background-color: bisque;
  border: 4px solid black;
  margin: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.a{
  height: 16rem;
  width: 100%;
  margin: 10px;
  color: aliceblue;
  border: 5px solid black;
}
#copyright{
  margin-bottom: 0px;
  height: 4rem;
  border: 4 solid white;
  margin: 2px;
  color: blue;
}
.education{
  display: flex;
}
.education_image_section{
  background-color: antiquewhite;
  width: 30%;
  height: 15rem;
}
.education_content{
  background-color: black;
  height: 15rem;
  width: 70%;

}